
.logo-mpi {
    img {
        width: 100px;
    }
    flex-grow: 1;
}

.right-navbar {
    display: flex;
    cursor: pointer;
    color: #092c4c;
}

.text-navbar {
    a {
        color: #e8f0f5;
    }
}